{
  "version" : "2018-05-29",
  "operation" : "PutItem",
  "key": {
    "id" : {"S": "$util.autoId()"}
  },
  "attributeValues" : {
    "name" : $util.dynamodb.toDynamoDBJson($context.arguments.name),
    "organisation" : $util.dynamodb.toDynamoDBJson($context.arguments.organisation),
    "designation" : $util.dynamodb.toDynamoDBJson($context.arguments.designation)
  }
}